body {
    background-color: #435585;
}

header > nav {
    display: flex;
    background-color: #818FB4;
}

a {
    text-decoration: none;
    color:#FFFFFF;
    padding: 1em;
    border-left: solid thin #363062;
}

.current {
    background-color: #363062;
    font-weight: bold;
}
